#banner-main {
    background-image: url(/imgs/background-two.jpeg);
    height: 350px;
    -webkit-background-size: cover;
    background-size: 100% auto;
    background-position:20% 50% ;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;

}

#banner-about {
    background-image: url(/imgs/background.jpeg);
    height: 350px;
    -webkit-background-size: cover;
    background-size: 100% auto;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;

}

#banner-code {
    background-image: url(/imgs/background-three.jpeg);
    height: 350px;
    -webkit-background-size: cover;
    background-size: 100% auto;
    background-position:20% 60% ;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;

}

#banner-skills {
    background-image: url(/imgs/background-four.jpeg);
    height: 350px;
    -webkit-background-size: cover;
    background-size: 100% auto;
    background-position:20% 60% ;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;

}

#banner-connect {
    background-image: url(/imgs/background-two.jpeg);
    height: 350px;
    -webkit-background-size: cover;
    background-size: 100% auto;
    box-sizing: border-box;
    opacity: 1;
    max-width: 100%;

}

/* nav {
    font-size: 20px;
    padding: 30px ;
} */

#name {
    width: 150px;
    height: 90px;
    position: relative;
    background-size: contain;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main section styling */

#about {
    padding-top: 2rem;
    padding-left: 12rem;
    padding-right: 0rem;
    font-family: 'Montserrat', sans-serif;
}

/* Connect page styling start */


#personName{
    height: 40px;
    width: 300px;
}

#personEmail{
    height: 40px;
    width: 300px;
}

#personSubject{
    height: 40px;
    width: 300px;
}

#personMessage{
    height: 200px;
    width: 300px;
}

#postSubmitButton{
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
}

/* Footer style starts */

footer {
    height: 50px;
    width: 100%;
    align-content: center;
}

#footer-text {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    color: black;

}