.navbar {
    background-color: rgb(142, 212, 207);
    position: fixed;
}

.logo-link {
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

.nav-list {
    display: flex;
    margin: 0;
    padding-left: 60rem;
    list-style: none;

}

.nav-link {
    margin-right: 1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main section styling */

#about {
    padding-top: 2rem;
    padding-left: 12rem;
    padding-right: 0rem;
    font-family: 'Montserrat', sans-serif;
}
